@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face { font-family: "Geist"; src: url('../fonts/Geist.ttf'); font-display: fallback; }
@font-face { font-family: "GeistMono"; src: url('../fonts/GeistMono.ttf'); font-display: fallback; }

html {
    height: 100% !important;
}

body {
    height: 100%;
    font-family: "Geist" !important;
    color: white;
    min-height: fit-content;
}

@layer utilities {
    .text-balance {
      text-wrap: balance;
    }
}

.font-mono {
    font-family: "GeistMono" !important;
}