:root {
    --video-gradient: radial-gradient(transparent 10%, #FAFAFA 60%);
    --button-gradient: linear-gradient(-0.15turn, #089fad 0%, #9750DD 70%);
    --text-gradient: linear-gradient(-0.15turn, #089fad 0%, #9750DD 70%);
}

.bg-gradient {
    background: var(--button-gradient);
}

.gradient-button {
    background: var(--button-gradient);
}

.video-gradient {
    background: var(--video-gradient);
}

.logo {
    font-family: "Kanit-Medium"; 
}

.bg-header {
    background: url(../img/header.png) top center no-repeat;
    background-size: 1920px auto;
    position: relative;
    z-index: 0;
}

.bg-track {
    background-size: 1920px auto;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.bg-track:after, .bg-header:after {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1 !important;
    background: #181d23;
    opacity: 0.8;
}

.table tr td {
    padding: 10px !important;
}

.table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05) !important
}

.glow-button {
    z-index: 2;
    background: var(--button-gradient);
}

.glow-button:before {
    z-index: -3;
    position: absolute;
    content: ' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(10px);
    border-radius: inherit;
    background: var(--button-gradient);
    /* animation: example 1.5s infinite linear alternate; */
}

.highlight {
    display: inline-block;
    position: relative;
}

.highlight .highlight-text {
    position: absolute;
    background: var(--text-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

.highlight .highlight-glow {
    background: var(--text-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:blur(6px);
    /* animation: example 1.5s infinite linear alternate; */
}


@keyframes example {
    from { filter: blur(10px);  }
    to { filter: blur(20px); }
}

.header-overlay {
    width: 1920px;
    height: 100%;
    left: 50%;
    margin-left: -960px;
}

.nav-scrolled {
    background: #191919EE !important;
    color: black;
}

.estimate-btn:hover, .estimate-btn:focus, .estimate-btn:active {
    background: #62af66 !important
}

.navlink {
    position: relative;
}

.status.status-open {
    background: radial-gradient(ellipse at bottom,#62af66 0%, #62af6650 80%)
}

.status.status-waiting {
    background: radial-gradient(ellipse at bottom,#f0ad4e33 20%,#29153d 90%)
}

.status.status-closed {
    background: radial-gradient(ellipse at bottom,#d2433f33 20%,#29153d 90%)
}

.status.status-holding {
    background: radial-gradient(ellipse at bottom,#08b0f0 0%,#08b0f050 80%)
}

.error-popup:after {
    content: ' ';
    position: absolute;
    width: 10px;
    transform: rotate(45deg);
    height: 10px;
    top: -5px;
    background: inherit;
}

.scrollbar::-webkit-scrollbar {
    width: 18px;
    height:18px;
}
  
  /* Track */
.scrollbar::-webkit-scrollbar-track {
    background: #14171d;
    border-radius: 0 0 6px 0;
    
}
  
  /* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #2c3643;
    border: solid 4px #14171d;
    
    border-radius: 8px;
}
  
  /* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #344050;
}

.markdown-container ul {
    list-style:disc;
    padding-left: 2em;
}

.markdown-container p {
    margin-bottom:20px;
}

.signin .signin-menu:after {
    content: " ";
    position: absolute;
    top:21px;
    margin-left: 6em;
    transform: rotate(45deg);
    width: 14px;
    height: 14px;
    background: inherit;
}

.glow-button {
    z-index: 2;
    background: var(--button-gradient);
}

.glow-button:before {
    z-index: -3;
    position: absolute;
    content: ' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(10px);
    border-radius: inherit;
    background: var(--button-gradient);
    /* animation: example 1.5s infinite linear alternate; */
}

.highlight {
    display: inline-block;
    position: relative;
}

.highlight .highlight-text {
    position: absolute;
    background: var(--text-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

.highlight .highlight-glow {
    background: var(--text-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:blur(6px);
    /* animation: example 1.5s infinite linear alternate; */
}


@keyframes example {
    from { filter: blur(10px);  }
    to { filter: blur(20px); }
}

.table tbody tr:nth-of-type(even) {
    background-color: transparent !important;
}

select.custom-select {
    /* Standard property for modern browsers */
    appearance: none;
    -webkit-appearance: none; /* For Chrome, Safari, Opera */
    -moz-appearance: none;    /* For Firefox */
    
    /* Optional: ensure text isn't cut off if you add a custom arrow */
    padding-right: 1px;
}

/* Optional: specific fix for Internet Explorer 10+ */
select.custom-select::-ms-expand {
    display: none;
}

.login-bg {
    background: url(../img/login_bg.jpg) center right;
    background-size: cover;
    opacity: 70%;
}

.divider {
    margin: 0 auto;
    height: 1px;
    width: 100px;
}