:root {
    --video-gradient: radial-gradient(transparent 10%, #FAFAFA 60%);
    --button-gradient: linear-gradient(-0.15turn, #089fad 0%, #9750DD 70%);
    --text-gradient: linear-gradient(-0.15turn, #089fad 0%, #9750DD 70%);
}

.bg-gradient {
    background: var(--button-gradient);
}

.gradient-button {
    background: var(--button-gradient);
}

.video-gradient {
    background: var(--video-gradient);
}

.logo {
    font-family: "Kanit-Medium"; 
}

.bg-header {
    background: url(../img/header.png) top center no-repeat;
    background-size: 1920px 700px;
    position: relative;
    z-index: 0;
}

.bg-header:after {
    position: absolute;
    content: ' ';
    width: 100%;
    max-width: 1920px;
    height: 600px;
    top: 0;
    z-index: -1 !important;
    background: #181d23;
    opacity: 0.8;
}